@if (TempData["success"] != null)
{
    <div id="success-notification-content" class="toastify-content hidden flex">
        <i class="text-success" data-lucide="check-circle"></i>
        <div class="ml-4 mr-4">
            <div class="font-medium">Success!</div>
            <div class="text-slate-500 mt-1">@TempData["success"]</div>
        </div>
    </div>
    <button id="success-notification-toggle" class="hidden"></button>

    <script>
        window.onload = function () {
            document.getElementById("success-notification-toggle").click();
        }
    </script>
}

@if (TempData["error"] != null)
{
    <div id="notification-with-actions-content" class="toastify-content hidden flex">
        <i class="text-danger" data-lucide="x-circle"></i>
        <div class="ml-4 mr-4">
            <div class="font-medium">Failed!</div>
            <div class="text-slate-500 mt-1">@TempData["error"]</div>
        </div>
    </div>
    <button id="notification-with-actions-toggle" class="hidden"></button>
    <script>
        window.onload = function () {
            document.getElementById("notification-with-actions-toggle").click();
        }
    </script>

}


