@using _71BootlegStore.ViewModels
@model AuthUserVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="light">
<!-- BEGIN: Head -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/images/71BootlegStore_Logo04.png" rel="shortcut icon">
    <title>Login - CATALER</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<!-- END: Head -->

<body class="login">
    <div class="container sm:px-10">

        <partial name="_Notification" />

        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <div class="my-auto">
                    <img alt="Midone - HTML Admin Template" class="-intro-x w-3/5 -mt-16" src="~/images/undraw_control_panel_re_y3ar.svg">
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->
            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
                <div class="my-auto mx-auto  bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <img class="-intro-x w-72 mx-auto" src="~/images/71BootlegStore_Logo04.png">

                    <div>
                        <form method="post">
                            <div class="intro-x mt-8 ">
                                <input type="text" class="intro-x login__input form-control py-3 px-4 block" name="UserName" placeholder="Username" value="@ViewBag.RememberMeUsername">
                                <input type="password" class="intro-x login__input form-control py-3 px-4 block mt-4" name="Password" placeholder="Password" value="@ViewBag.RememberMePassword">
                            </div>
                            <div class="intro-x flex text-slate-600 dark:text-slate-500 text-xs sm:text-sm mt-4">
                                <div class="flex items-center mr-auto">
                                    <input id="remember-me" type="checkbox" class="form-check-input border mr-2" asp-for="@Model.ApplicationUser.RememberMe">
                                    <label class="cursor-pointer select-none" for="remember-me">Remember me</label>
                                </div>
                                <a asp-action="Index" asp-controller="ForgotPassword">Forgot Password?</a>
                            </div>
                            <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                                <button type="submit" class="btn btn-primary py-3 w-full align-top">Login</button>
                                <button class="btn btn-secondary py-3  mt-4 w-full align-top" asp-controller="Register" asp-action="Index">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END: Login Form -->
        </div>
    </div>


    <script src="~/js/app.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>

    <script>

    </script>
</body>

</html>